.s {
  margin-top: 5rem;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 2rem;
}
.Card_Auction {
  width: 25rem;
  height: 35rem;
  border-radius: 0.5rem;
  border: solid black 0.01rem;
}
.image {
  border-radius: 0.5rem 0.5rem 0rem 0rem;
  height: 20rem;
}

.glow-on-hover {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #e97373,
    #d39563,
    #dad88a,
    #ade099,
    #91ecdd,
    #6e80da,
    #b692dd,
    #d48cc5,
    #cc7171
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(#506d84, #f3d5c0);
  left: 0;
  top: 0;
  border-radius: 10px;
  opacity: 0.5;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.TITLE {
  font-weight: 800;
}
.SubTitel {
  font-size: 20px;
  font-weight: bold;
  color: black;
}
